 body {
   background-color: #323232;
   color: white;
   text-align: center;
   font-family: Arial, sans-serif;
 }

 h1 {
   font-size: 24px;
 }

 input[type="number"] {
   padding: 10px;
   margin: 10px;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   background-color: #424242;
   color: white;
   text-align: center;
 }

 input[type="button"] {
   padding: 10px 20px;
   font-size: 18px;
   background-color: #3498db;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 50px;
   height: 41px;
 }

 span {
   margin: 20px;
   padding: 10px;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   background-color: #424242;
   color: white;
   text-align: center;
   width: 71px;
   height: 21px;
   display: inline-block;
 }

 .signal {
   display: inline;
   font: normal 20pt Georgia;
 }