@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #2b5278;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Noto Serif', sans-serif;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 50px;
  background: #202020;
  border-radius: 5px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

form input {
  font-size: 20px;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}

form input:focus {
  outline: 1.5px solid #0082fc;
}

form button {
  border: none;
  background: #0082fc;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

form button:hover {
  background: #0067c9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

li {
  /* margin-bottom: 24px; */
  padding-bottom: 14px;
}

.imc {
  margin-right: 140px;
}

#output-imc {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: black;
  font-size: 18px;
  margin-top: 22px;
  padding: 10px;
  border-radius: 5px;
}